body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: rgba(128, 128, 128, 0.5);
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 10px;
}

textarea:focus {
  outline-color: #06AED5;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: normal;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  border-color: #000000;
}

.flex-row {
  white-space: nowrap;
  height: 81px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed gray;
  text-align: right;
  padding: 9px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  margin: auto;
  padding: 32px;
}

.saveBtn:hover {
  color: black;
  transition: all .3s ease-in-out;
}

.past {
  background-color: rgb(80, 72, 72);
  color: white;

}

::placeholder {
  color: white;
}

.present {
  background-color: rgb(228, 69, 69);
  color: black;
}

.future {
  background-color: rgb(52, 185, 52);
  color: white;
}